
.Card {
  
  &__allDay{
    &--icon{
      width: 70%;
    }
    ul{
      transition: all 0.5s ease-out;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.281);
      width: 100%;
      padding: 10px 0px;
      list-style: none;
      margin: 5px;
      cursor: pointer;
      align-items: center;
      text-align: center;
      font-size: 0.9rem;
      
      li{
       
        span{
          padding: 0px 5px;
        }
      }
    }
    justify-content: center;
    display: flex;
    
    &--max{
      font-weight: 700;
    }
  }

  .Card__details{

  &__info{
    padding: 10px 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    &--chart{
      width: 68%;
    //  max-height:  27vh;
    }
    &--data{
      width: 30%;
      justify-content: center;
      align-items: center;
      display: flex;
      ul{
        list-style: none;
        li{
          padding: 2% 0px;
        }
      }
    }
  }
  
  }
  .active{
    border: 3px solid rgba(12, 245, 109, 0.651);
    transform: 0.5s;
  }
  .not-active{
    border: 3px solid rgba(12, 245, 109, 0);
  }

}